* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

/* -- GENERAL STYLES -- */
.col-sm-12 {
  width: 100%;
}
.col-sm-11 {
  width: 91.67%;
}
.col-sm-10 {
  width: 83.33%;
}
.col-sm-9 {
  width: 75%;
}
.col-sm-8 {
  width: 66.67%;
}
.col-sm-7 {
  width: 58.33%;
}
.col-sm-6 {
  width: 50%;
}
.col-sm-5 {
  width: 41.67%;
}
.col-sm-4 {
  width: 33.33%;
}
.col-sm-3 {
  width: 25%;
}
.col-sm-2 {
  width: 16.67%;
}
.col-sm-1 {
  width: 8.33%;
}

hr {
  margin: 30px 0px;
  border-color: #d4d4d4b8;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #668e8e;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.btn {
  border: 1px solid #000;
}

.btn-o {
  background: transparent !important;
  color: grey !important;
  text-transform: uppercase;
  border-color: grey !important;
}

.max-img {
  max-width: 100%;
  height: auto;
}

.underline {
  text-decoration: underline;
}

.grey-color {
  color: grey;
}
.caps {
  text-transform: uppercase;
}
.all-unset {
  all: unset !important;
}
.display-none {
  display: none !important;
}
.hover-pointer:hover {
  cursor: pointer;
}

.btn-like-text {
  color: grey;
  background: #fff !important;
  text-align: left;
  margin: 0 !important;
}

input, .input {
  padding: 10px 20px;
  background: transparent;
  border: 1px solid #efeeee;
  border-bottom-width: 4px;
  /* border-radius: 5px; */
  margin-bottom: 20px;
  width: 100%;
  font-size: 20px;
  outline: none;
}

.submit-btn {
  padding: 10px 20px;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  display: block;
}

input:focus {
  transition: all 300ms ease;
  border-bottom: 4px solid #93d0d0;
}

input[type="submit"], .submit-btn {
  margin: 0px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  background: #3b8888;
}

input[type="submit"]:hover, .submit-btn:hover {
  background: #2d6565;
  cursor: pointer;
  /* color: #fff; */
}

input[type="submit"]:active, .submit-btn:active {
  background: linear-gradient(90deg, #2d6565, #264444, #2d6565);
}

input.simple, textarea.simple {
  border: 1px solid #5a5a5a;
  outline: none;
}
.main-title {
  font-size: 20px;
  text-align: center;
  color: #4d7979;
  margin: 20px 0px;
}

.main-title.small {
  font-size: 18px;
}

.sub-title {
  border-bottom: 1px solid #ddd;
  margin: 30px 0px;
  padding-bottom: 10px;
  color: grey;
}

label {
  text-transform: uppercase;
  color: #9e9e9e;
  font-family: sans-serif;
  letter-spacing: 1px;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}
label .required {
  color: #7aadad;
}

.center {
  text-align: center;
}

label.text-key {
  margin: 0;
  text-transform: lowercase;
}
label.middle {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #5d5d5d;
}

.menu-btn.fa {
  font-size: 25px;
}

.main-label {
  display: block;
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 0px;
  color: #a5a5a5;
  border-top: 0.5px solid #aaaaaa7a;
}

label.with-underline {
  margin-bottom: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  display: block;
}

input[type="date"], input[type="time"] {
  color: grey;
}
textarea {
  font-size: 20px;
  width: 100%;
  border-color: #eee;
  padding: 10px 20px;
  font-family: sans-serif;
}
textarea:focus {
  outline-color: #7aadad;
}

.fine-text {
  /* padding: 20px 0px; */
  font-family: arial;
  word-spacing: 1px;
  line-height: 22px;
  font-size: 17px;
  color: #3a3a3a;
}
.fine-text p {
  margin-bottom: 15px;
}



  /* ------------------------- */
 /* -- LANDING PAGE STYLES -- */
/* ------------------------- */
#landing-page .main-banner {
  position: relative;
  background-image: url('../img/landing-banner.jpg');
  z-index: -60;
}
#landing-page .main-banner .content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
  padding: 0 20%;
  text-align: center;
}
.main-banner .title {
  text-transform: capitalize;
  font-size: 60px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ffffff6b;
  font-family: "century gothic";
}
.main-banner .description {
  font-size: 23px;
}
.main-banner {
  height: 400px;
  width: 100%;
}
.main-banner .overlay {
  background-color: #10101096;
}





  /* ------------------- */
 /* -- HEADER STYLES -- */
/* ------------------- */

.main-header {
  height: 50px;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0px -1px 2px 1px #ddd;
}

.header-brand {
  padding-left: 20px;
}

.menu-toggle {
  position: relative;
  height: 50px;
}
.menu-toggle:hover, .menu-toggle.show {
  cursor: pointer;
  background: #efefef;
}
.menu-btn {
  height: 49px;
  justify-content: center;
  align-items: center;
  display: flex;
  /* background: #fff; */
  padding: 10px;
}
.menu-arrow {
  transition: all 300ms ease;
}
.menu-toggle.with-arrow.show .menu-arrow {
  transform: rotate(180deg);
}
.menu-content {
  position: absolute;
  width: 240px;
  z-index: 50;
  background: transparent;
  right: 0;
  transition: background 300ms ease-in-out;
  visibility: hidden;
  opacity: 0;
  /* display: none; */
  /* box-shadow: 0px -1px 2px 0px #efefef; */
  border: 1px solid #a9a9a9;
}

.menu-toggle.show > .menu-content {
  background: #fff;
  opacity: 1;
  visibility: visible;
  /* display: block; */
}

.menu-content .menu-content {
  box-shadow: none;
  right: -1px;
  border-top-color: #eee;
}

.menu-list {
  list-style-type: none;
  display: inherit;
}
.menu-option {
  padding: 18px 18px;
  display: block;
}
.menu-option:hover {
  background: #efefef;
}
.horizontal-nav {
  flex-direction: row;
  display: flex;
  list-style-type: none;
  margin-right: 30px;
}
.horizontal-nav .item {
  margin-left: 10px;
}



  /* ----------------------- */
 /* -- LOGIN PAGE STYLES -- */
/* ----------------------- */
#sign-page .page-background {
  background-image: url('../img/background-img.png');
  background: #eaeaea;
}

.page-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -50;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00000045;  
  z-index: -40;
}

.sign-container {
  max-width: 500px;
  margin: auto;
  margin-top: 70px;
  padding: 0px 20px;
  margin-bottom: 70px;
}
.sign-toggle {
  height: 40px;
  margin-top: 20px;
  position: relative;
  padding: 0px 5px;
}

.sign-toggle .bar {
  border: 1px solid #ddd;
  padding: 10px 30px;
  background: #93d0d0;
  text-transform: uppercase;
  font-family: sans-serif;
  position: absolute;
  z-index: 10;
  height: 40px;
  border-bottom: none;
}

.sign-toggle .bar:hover {
  background: #74bdbd;
  cursor: pointer;
}

.sign-toggle .bar:active {
  background: linear-gradient(90deg, #74bdbd, #72e2e2, #74bdbd);
}

.sign-toggle .bar.active {
  background: #fff;
  height: 46px;
  top: -5px;
  z-index: 20;
  padding-top: 15px;
}

.sign-toggle .bar.in.active {
  left: 0;
}
.sign-toggle .bar.up.active {
  right: 0;
  cursor: default;
}

.sign-toggle .up {
  right: 5px;
}

.form-area {
  position: relative;
  background: #fff;
  padding: 30px;
  border: 1px solid #ddd;
}

.form-area .form {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: all 600ms cubic-bezier(0.42, 0, 0.58, 1.1);
  /* transition-delay: 300ms; */
}

.form-area .form.active {
  /* height: fit-content; */
  opacity: 1;
}
#signin-form.active {
  height: 180px;
}
#signup-form.active {
  height: 383px;
}


  /* ----------------------------- */
 /* -- ALL MEETUPS PAGE STYLES -- */
/* ----------------------------- */

.all-meetups {
  padding: 20px;
}

.all-meetups .container {
  padding: 15px;
  margin-bottom: 20px;
}
.meetup-card {
  transition: all 300ms ease;
  font-family: sans-serif;
  position: relative;
}

.with-back-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.meetup-display-img {
  height: 100%;
}

.meetup-card .display {
  border-radius: 4px;
  height: 200px;
  overflow: hidden;
  transition: all 300ms ease;
  margin-bottom: 30px;
  position: relative;
}

.meetup-card:hover .display {
  border-radius: 0px;
}

.date-thumbnail {
  max-width: 45px;
  text-align: center;
  margin-right: 15px;
}
.date-thumbnail .month {
  color: #2d6565;
  font-size: 14px;
}
.date-thumbnail .day {
  color: #ce4444;
  font-size: 20px;
}

.meetup-card .title {
  font-weight: normal;
  font-size: 20px;
  color: #3a3a3a;
}

.meetup-card .info {
  text-overflow: ellipsis;
  display: flex;
}

.meetup-card .more {
  font-size: 14px;
  width: 100%;
}

.meetup-card .more .detail-text {
  margin-top: 3px;
}

.meetup-card .more .icon {
  width: 20px;
  color: #478468;
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
}

.question-count {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #fff;
  padding: 7px 15px;
  border-radius: 3px;
  font-size: 13px;
  color: grey;
  box-shadow: 0px 0px 4px 1px #27696966;
  font-style: italic;
}

.question-count .count {
  font-weight: 600;
}

.meetup-card .cta-btn {
  position: absolute;
  bottom: 20px;
  opacity: 0;
  left: 35%;
  font-size: 14px;
  transition: all 500ms ease-in-out;
  border-radius: 3px;
  border: none;
  background: #fff;
  color: #2d6565;
  font-weight: bold;
  padding: 10px 30px;
  box-shadow: 0px 0px 1px 1px #d4d4d485;
  transition-delay: 200ms;
}

.meetup-card .cta-btn:hover {
  cursor: pointer;
  box-shadow: none;
}
.search-box {
  margin: auto;
  margin-top: 40px;
  padding: 0px 20px;
  position: relative;
  text-align: center;
  max-width: 700px;
}

.search-box input {
  border-radius: 5px;
  padding-left: 50px;
  transition: all 300ms ease;
}

.search-box .icon {
  position: absolute;
  color: #c5c5c5;
  font-size: 25px;
  top: 9px;
  left: 33px;
}



  /* ------------------------------- */
 /* -- CREATE MEETUP PAGE STYLES -- */
/* ------------------------------- */

#meetup-form {
  margin-top: 50px;
  padding: 0px 30px;
  max-width: 900px;
}
#meetup-form input::placeholder, #meetup-form textarea::placeholder {
  color: #c9c9c9;
}
#meetup-form .action {
  padding: 20px 0px;
}
.meetup-card.for-preview {
  box-shadow: 0px 0px 1px #00000050;
}
.meetup-card.for-preview .display {
  border-radius: 0;
}
.meetup-card.for-preview .info {
  overflow: hidden;
  padding: 30px;
  height: 100%;
}
.meetup-card.for-preview .details {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.img-uploader {
  padding: 20px;
  height: 100%;
  background: #0000009e;
}

.img-uploader:hover {
  cursor: pointer;
}

.img-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.img-placeholder label {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}

.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: all 300ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
}

.modal-container .content {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  max-height: 100%;
  position: relative;
}

.modal-container .overlay {
  background-color: #000000b0;
  height: 100%;
  width: 100%;
}

.modal-container input, .modal-container textarea {
  font-size: 16px !important;
}
.modal-container input[type="submit"] {
  margin-top: 15px;
}
.modal-container .close {
  position: absolute;
  right: 15px;
  top: 15px;
  line-height: 25px;
  font-size: 50px;
}
.modal-container .close:hover {
  cursor: pointer;
  color: #e63d3d;
}
.modal-container.show {
  visibility: visible;
  opacity: 1;
}




  /* ------------------------- */
 /* -- ACCOUNT PAGE STYLES -- */
/* ------------------------- */
#account-page .page-body {
  padding: 30px;
  max-width: 700px;
  margin: auto;
}
.tablet-bar {
  border: 1px solid #eee;
  background: #7aadad;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  margin-left: 20px;
  color: #fff;
  font-weight: bold;
}
#account-page label {
  color: #323232;
}
.log-item {
  margin-top: 20px;
}
#account-page .info {
  padding: 0px 30px;
}

#account-info .basic {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

#account-info .profile-image {
  background-color: #fff;
  height: 130px;
  width: 130px;
  border-radius: 50%;
}
#account-info .profile-image .icon {
  font-size: 130px;
}
#account-info .basic .text {
  padding-left: 20px;
  /* padding-right: 25px; */
}

.sliced-bg {
  background: #dadada;
  height: 70px;
  position: absolute;
  z-index: -9;
  width: 100%;
  left: 15px;
  border-radius: 50px;
  padding-left: 110px;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

label.sub {
  text-transform: lowercase;
  font-weight: normal;
  overflow-wrap: break-word;
}

.sliced-bg .before, .sliced-bg .after {
  content: "";
  width: 65px;
  height: 100px;
  position: absolute;
  background: #fff;
  display: inline-block;
  transform: rotate(30deg);
  top: -25px;
  width: 35px;
}
.sliced-bg .before {
  left: -9px;
}
.sliced-bg .after {
  right: -9px;
  transform: rotate(-30deg);
}

#account-page #schedulled-meetups .meetup {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 30px;
}
#account-page .question-card {
  margin: 0;
}

label.tag {
  background: #d5e6e6;
  padding: 5px;
  border-radius: 15px;
  text-transform: capitalize;
  font-size: 12px;
  margin: auto;
  display: block;
  text-align: center;
  width: 115px;
}


  /* ------------------------ */
 /* -- MEETUP PAGE STYLES -- */
/* ------------------------ */
.meetup-banner {
  padding: 30px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.meetup-banner .info {
  padding-right: 20px;
}

.action-btn {
  font-size: 20px;
  padding: 7px 0px;
  background: #7aadad;
  color: #fff;
  border: 1px solid #7aadad;
  width: 100%;
}
#meetup-page .actions {
  text-align: center;
  margin-top: 30px;
}
#meetup-page .main-body {
  padding: 30px;
  padding-top: 50px;
  background: #f5f5f5;
}
#meetup-page .page-body .container {
  margin-top: 50px;
}
#meetup-page .featured-image {
  height: 400px;
}
#meetup-page .description {
  margin-top: 30px;
}

.question-card {
  margin-bottom: 40px;
  margin-left: -20px;
}

.question-card .counter {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 125px;
  position: sticky;
  top: 0;
}
.question-card .body {
  /* background: #fff; */
  /* padding: 20px; */
  height: fit-content;
  align-self: center;
  /* border-right: 4px solid #ccc; */
}

.voter-btn {
  font-size: 50px;
  border: none;
  background: none;
  height: 29px;
  overflow: hidden;
  padding: 5px;
}
.voter-btn .icon {
  margin-top: -18px;
  display: block;
}

.voter-btn.upvote {
  color: #31927c;
}
.voter-btn.upvote:hover {
  color: #26705f;
}
.voter-btn.downvote {
  color: #ab3742;
}
.voter-btn.downvote:hover {
  color: #862b34;
}
.question-card .divide {
  height: 1px;
  background: #828282;
  width: 20px;
  margin: 10px 0px;
}
.question-card p {
  margin: 0;
}

.voter-btn:hover {
  color: green;
  cursor: pointer;
}
.question-card .vote-num {
  font-family: sans-serif;
}
.downvotes {
  color: #ab3742;
  font-size: 16px !important;
}
.upvotes {
  color: #31927c;
}

.question-form input {
  background: #fff;
  font-size: 17px;
  margin-bottom: 0px;
}

.question-card .comment {
  padding: 10px;
  border-left: 4px solid #ccc;
  margin-bottom: 20px;
  background: #fff;
}
.question-card .comment-list {
  margin-left: 30px;
}
.main-question {
  padding: 20px;
  background: #fff;
  border-left: 4px solid #ccc;
  margin-bottom: 20px;
  text-align: center;
}
.modal-question-form {
  background: #fff;
  padding: 20px;
  position: relative;
  overflow: auto;
  max-height: 100%;
}



  /* -------------------------- */
 /* -- ADMIN MEETUPS STYLES -- */
/* -------------------------- */
.meetup-card .menu-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  font-size: 20px;
  box-shadow: 0px 0px 1px 1px #868686;
  color: #444444;
}
.meetup-card .options {
  position: absolute;
  right: 10px;
  top: 10px;
}
.meetup-card .menu-toggle {
  background-color: transparent;
}
.meetup-card .menu-option {
  padding: 10px;
  padding-left: 20px;
}
.meetup-card .menu-content {
  width: 140px;
}



  /* ------------------- */
 /* -- FOOTER STYLES -- */
/* ------------------- */
footer {
  background: #d5e6e6;
  font-size: 17px;
  font-family: sans-serif;
}
footer .top {
  padding: 40px 30px;
}
footer .first-link {
  padding: 30px 0px;
  border-bottom: 1px solid #2f2f2f2b;
}
footer .content {
  margin-bottom: 20px;
}
footer li {
  list-style-type: none;
  padding: 10px 0px;
  color: #616161;
}
footer .links {
  padding-top: 30px;
}
footer .key {
  color: black;
}
.copyright {
  padding: 20px 30px;
  background-color: #4a7f804d;
  color: #616161;
}
footer input {
  font-size: 17px;
  border-color: #afafaf82;
}




  /* -------------------------- */
 /* -- MEDIUM SCREEN STYLES -- */
/* -------------------------- */
@media only screen and (min-width: 40em) {
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.67%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.67%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.67%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.67%;
  }
  .col-md-1 {
    width: 8.33%;
  }

  .main-title {
    font-size: 30px;
  }

  .negative-margin {
    margin-left: -15px;
    margin-right: -15px;
  }
  .col-pad {
    padding: 0px 15px;
  }

  #meetup-form {
    padding: 0px 40px;
    margin-left: 80px;
  }
  
  .meetup-card.for-preview {
    height: 200px;
  }

  footer {
    /* padding: 40px 30px; */
  }
  footer .top {
    padding: 40px 30px;
  }
  .copyright {
    padding: 20px 30px;
  }

  .question-card {
    margin-left: 0px;
  }
}



  /* ------------------------- */
 /* -- LARGE SCREEN STYLES -- */
/* ------------------------- */
@media only screen and (min-width: 60em) {
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.67%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.67%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.67%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.67%;
  }
  .col-lg-1 {
    width: 8.33%;
  }

  .meetup-card .info {
    padding: 0px 20px 30px 20px;
    padding-top: 0;
  }

  .meetup-card:hover {
    box-shadow: 0px 1px 3px 1px #c7c7c7;
    border-radius: 4px;
    overflow: hidden;
  }
  .meetup-card:hover .cta-btn {
    bottom: 20px;
    opacity: 1;
  }
  
  .main-title {
    font-size: 40px;
  }

  #meetup-form {
    padding: 0px 60px;
  }

  #meetup-page .actions {
    margin-top: 0px;
  }

  #meetup-page .description {
    margin-top: 0;
    padding: 0px 50px;
    position: sticky;
    top: 50px;
  }
  .sticky {
    position: sticky;
    top: 50px;
  }

  footer .top {
    padding: 50px 90px;
  }
  .copyright {
    padding: 20px 90px;
  }

  .meetup-card .menu-toggle {
    visibility: hidden;
  }
  .meetup-card:hover .menu-toggle {
    visibility: visible;
  }
  .meetup-card .menu-toggle.show {
    visibility: visible !important;
  }

  .main-banner {
    height: 500px;
  }
}